@import "../../mixins.scss";
@import "../../variables.scss";

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $primary-color;
  padding: 1rem;
  height: 60px;

  .brandName {
    font-size: 2rem;
    color: $secondary-color;
    font-weight: bold;
  }

  .navLinks {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-left: 20px;
      transition: transform 0.3s ease;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }

      .link {
        text-decoration: none;
        color: #fff;

        button {
          background-color: transparent;
          border: none;
          color: #fff;
          padding: 10px 20px;
          cursor: pointer;
          transition: background-color 0.3s ease;
          border-radius: 20px; // makes the button rounded

          &:hover {
            background-color: #555;
          }

          span {
            margin-left: 5px;
            font-weight: bold;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $secondary-color;
          }
        }
      }
    }
  }
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}



.orderModal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
